
@mixin nv-legacy-text {
  @font-face {
    font-family: "YS Text";
    src: url("https://yastatic.net/s3/home/fonts/ys/1/text-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "YS Text";
    src: url("https://yastatic.net/s3/home/fonts/ys/1/text-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "YS Text";
    src: url("https://yastatic.net/s3/home/fonts/ys/1/text-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "YS Text";
    src: url("https://yastatic.net/s3/home/fonts/ys/1/text-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
  }
}


.sb-show-main {
  padding: 0 !important;
  margin: 0;
  font-family: "YS Text";
}

.toolbox {
  padding: 1rem;
}

#storybook-root {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.graph {
  flex: 1;
  position: relative;
}