# These are references to the actual rule files in .cursor/rules/
project-rules: .cursor/rules/project-rules.mdc
components-rules: .cursor/rules/components-rules.mdc
layer-rules: .cursor/rules/layer-rules.mdc
event-model-rules: .cursor/rules/event-model-rules.mdc
general-coding-rules: .cursor/rules/general-coding-rules.mdc
