{
  "extends": [
    "@gravity-ui/eslint-config",
    "@gravity-ui/eslint-config/import-order",
    "@gravity-ui/eslint-config/prettier",
    "prettier"
  ],
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.mts",
        "*.cts",
        "*.tsx"
      ],
      "rules": {
        "@typescript-eslint/explicit-member-accessibility": [
          "error",
          {
            "accessibility": "explicit",
            "overrides": {
              "accessors": "explicit",
              "constructors": "no-public",
              "methods": "explicit",
              "properties": "off",
              "parameterProperties": "explicit"
            }
          }
        ],
        "no-bitwise": [
          "error",
          {
            "int32Hint": true
          }
        ]
      }
    },
    {
      "files": [
        "jest.config.ts",
        "jest.config.base.ts"
      ],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "rules": {
    "no-negated-condition": "off",
    "@typescript-eslint/parameter-properties": "off",
    "no-param-reassign": "off",
    "guard-for-in": "off",
    "no-return-assign": "off",
    "@typescript-eslint/member-ordering": "off",
    "@typescript-eslint/no-shadow": "off",
    "valid-jsdoc": "off",
    "import/consistent-type-specifier-style": [
      "error",
      "prefer-top-level"
    ]
  }
}