node_modules
.parcel-cache
dist
.idea
.vscode
.DS_Store
storybook-static

# Build outputs
build
playwright-report
test-results
e2e/dist
*.tsbuildinfo

# Rollup cache
.rollup.cache

# pnpm
pnpm-lock.yaml
