.layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.no-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-pointer-events {
  pointer-events: none;
}

.layer-with-camera {
  isolation: isolate;
  transform-origin: 0 0;
  transform-style: preserve-3d;
  will-change: transform;
}