html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: #f4f5f6;
}

#graph-shell,
#react-shell {
  width: 900px;
  height: 650px;
  padding: 24px;
}

#graph {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #d9d9d9;
}
