.graph-block-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: content-box;
  transform: translate3d(var(--graph-block-geometry-x, 0), var(--graph-block-geometry-y, 0), 0);
  will-change: transform, width, height;
  width: var(--graph-block-geometry-width, 0);
  height: var(--graph-block-geometry-height, 0);
  --z-index: calc(var(--graph-block-z-index, 0) + var(--graph-block-order, 0));
  z-index: var(--z-index);
}

.graph-block-wrapper {
  flex: 1;
  min-width: 0;
  cursor: pointer;

  box-sizing: border-box;

  background: var(--graph-block-bg);
  border: 1px solid var(--graph-block-border)
}

.graph-block-wrapper.selected {
  border-color: var(--graph-block-border-selected)
}
