.graph-wrapper {
    --graph-block-anchor-width: 16px;
    --graph-block-anchor-height: 16px;
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
}

.graph-canvas {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
