name: Release

on:
  push:
    branches: [main]

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      canvas_core_created: ${{ steps.release.outputs['packages/graph-canvas-core--release_created'] }}
      graph_created: ${{ steps.release.outputs['packages/graph--release_created'] }}
      graph_react_created: ${{ steps.release.outputs['packages/graph-react--release_created'] }}

    steps:
      - name: Generate token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.GRAVITY_UI_APP_ID }}
          private-key: ${{ secrets.GRAVITY_UI_APP_PRIVATE_KEY }}

      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ steps.generate-token.outputs.token }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json

  publish:
    needs: release-please
    if: ${{ needs.release-please.outputs.releases_created == 'true' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
          cache: "pnpm"

      - run: pnpm install

      - name: Build all packages
        run: pnpm build

      # Publish canvas-core
      - name: Publish @gravity-ui/graph-canvas-core
        if: ${{ needs.release-please.outputs.canvas_core_created == 'true' }}
        run: pnpm --filter '@gravity-ui/graph-canvas-core' publish --access public --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GRAVITY_UI_BOT_NPM_TOKEN }}

      # Publish graph
      - name: Publish @gravity-ui/graph
        if: ${{ needs.release-please.outputs.graph_created == 'true' }}
        run: pnpm --filter '@gravity-ui/graph' publish --access public --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GRAVITY_UI_BOT_NPM_TOKEN }}

      # Publish graph-react
      - name: Publish @gravity-ui/graph-react
        if: ${{ needs.release-please.outputs.graph_react_created == 'true' }}
        run: pnpm --filter '@gravity-ui/graph-react' publish --access public --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GRAVITY_UI_BOT_NPM_TOKEN }}
